<?xml version="1.0" encoding="utf-8"?>
<manifest 
xmlns:android="http://schemas.android.com/apk/res/android"
package="com.rubika.aotalk"
android:installLocation="internalOnly"
android:versionName="1.4.4"
android:versionCode="19"
>
    <application
    android:icon="@drawable/icon"
    android:description="@string/app_description"
    android:debuggable="false"
    android:label="@string/app_name"
    >
        <activity 
        android:name=".AOTalk"
        android:configChanges="orientation"
        android:launchMode="singleTop"
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".ShowInfo"
        android:configChanges="orientation"
        >
        	<intent-filter>
			    <category android:name="android.intent.category.DEFAULT" />
			    <action android:name="android.intent.action.VIEW" />
			    <data android:scheme="text" />  
			</intent-filter>
        	<intent-filter>
			    <category android:name="android.intent.category.DEFAULT" />
			    <action android:name="android.intent.action.VIEW" />
			    <data android:scheme="chatcmd" />  
			</intent-filter>
        	<intent-filter>
			    <category android:name="android.intent.category.DEFAULT" />
			    <action android:name="android.intent.action.VIEW" />
			    <data android:scheme="itemref" />  
			</intent-filter>
        </activity>
        <activity
        android:name=".Settings"
        android:configChanges="orientation"
        />
        <receiver 
        android:name=".WidgetSmall" 
        android:label="@string/widget_name_small"
        >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_small" />
        </receiver>
        <receiver 
        android:name=".WidgetLarge" 
        android:label="@string/widget_name_large"
        >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_large" />
        </receiver>
		<activity android:name=".WidgetConfig">
    		<intent-filter>
        		<action android:name=".WidgetConfig" />
    		</intent-filter>
		</activity>
		<service android:name=".AOBotService"></service>
    </application>
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 