<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubika.aotalk"
    android:versionCode="73"
    android:versionName="3.1.0" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />
    
    <uses-permission android:name="android.permission.INTERNET" />
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application
	android:theme="@style/AOTalkTheme"
	android:icon="@drawable/ic_launcher"
	android:label="@string/app_name"
	>
        <activity
		android:name=".AOTalk"
		android:label="@string/app_name"
		android:configChanges="orientation|screenSize|keyboardHidden"
       	android:windowSoftInputMode="stateHidden|adjustResize"
        android:launchMode="singleTop"
		>
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>
        
        <activity
        android:name=".Preferences"
		android:label="@string/preferences"
		android:configChanges="orientation|screenSize|keyboardHidden"
        android:windowSoftInputMode="stateHidden|adjustResize"
        />
        
        <activity
        android:name=".Help"
		android:label="@string/help"
		android:configChanges="orientation|screenSize|keyboardHidden"
        android:windowSoftInputMode="stateHidden|adjustResize"
        />
        
        <activity
        android:name=".Information"
		android:label="@string/app_name"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:windowSoftInputMode="stateHidden|adjustResize"
		android:hardwareAccelerated="false"
        >
        	<intent-filter>
			    <category android:name="android.intent.category.DEFAULT" />
			    <action android:name="android.intent.action.VIEW" />
			    <data android:scheme="text" />  
			</intent-filter>
        	<intent-filter>
			    <category android:name="android.intent.category.DEFAULT" />
			    <action android:name="android.intent.action.VIEW" />
			    <data android:scheme="chatcmd" />  
			</intent-filter>
        	<intent-filter>
			    <category android:name="android.intent.category.DEFAULT" />
			    <action android:name="android.intent.action.VIEW" />
			    <data android:scheme="itemref" />  
			</intent-filter>
        	<intent-filter>
			    <category android:name="android.intent.category.DEFAULT" />
			    <action android:name="android.intent.action.VIEW" />
			    <data android:scheme="user" />  
			</intent-filter>
        </activity>
        
        <activity
		android:label="@string/market_monitor"
		android:name=".market.Market"
		android:configChanges="orientation|screenSize|keyboardHidden"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
		android:label="@string/ao_universe"
		android:name=".aou.AOU"
		android:configChanges="orientation|screenSize|keyboardHidden"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
		android:label="@string/ao_universe"
		android:name=".aou.ActivityNews"
		android:configChanges="orientation|screenSize|keyboardHidden"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
		android:label="@string/ao_universe"
		android:name=".aou.ActivityCalendar"
		android:configChanges="orientation|screenSize|keyboardHidden"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
		android:label="@string/ao_universe"
		android:name=".aou.ActivityGuide"
		android:configChanges="orientation|screenSize|keyboardHidden"
		>
        	<intent-filter>
			    <category android:name="android.intent.category.DEFAULT" />
			    <action android:name="android.intent.action.VIEW" />
			    <data android:scheme="guideref" />  
			</intent-filter>
        </activity>
        
        <service android:name=".service.ClientService" />
        </application>

</manifest>